<footer class="container-fluid bg-dark mt-auto">
  <hr>
  <div class="row">
      <div class="col-md-4 text-center">
          <p class="mb-0 text-white">Social Links</p>
          <p><a href="https://www.facebook.com/profile.php?id=61566504556236" target="_blank" rel="noopener nofollow">FaceBook Page <i class="fa-brands fa-square-facebook fa-lg"></i></a></p>
      </div>
      <div class="col-md-4">
          <!-- Mailchimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="https://herokuapp.us22.list-manage.com/subscribe/post?u=16aa5e3f93ef0ee299b5f86d9&amp;id=68b74fac35&amp;f_id=0017d6e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe!</h2>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                      </label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                    </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                    <input type="text" name="b_16aa5e3f93ef0ee299b5f86d9_68b74fac35" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <p style="margin: 0px auto;">
                      <a href="http://eepurl.com/i0WnT-" title="Mailchimp - email marketing made easy and fun">
                        <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                          <img class="refferal_badge d-lg-block  d-md-none" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" 
                            alt="Intuit Mailchimp" 
                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                        </span></a></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="col-md-4">
          <ul class="nav justify-content-end">
              <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2">Home</a></li>
              <li class="nav-item"><a href="{% url 'products' %}" class="nav-link px-2">Products</a></li>
          </ul>
          <br>
          <p class="text-right"><a href="https://www.termsfeed.com/live/bdeed228-b2e3-4a14-ac32-8ab735175789"
            target="_blank" rel="noopener" class="nav-link px-2">Privacy Policy</a>
          </p>
      </div>
  </div>
  <div class="row text-center">
      <div class="col text-center text-white">
          <p>This website is for educational purposes only</p>
      </div>
  </div>
</footer>